<h2>
  Create News
</h2>

<div>
  <h4 class="error">{{message}}</h4>
  <form (ngSubmit)="createNews(newsForm)" #newsForm="ngForm">
    <div ngModelGroup="news">
      <div>
          <input type="text"
                 ngModel
                 name="topic"
                 #newsTopic="ngModel"
                 topic="topic"
                 placeholder="News Topic"
                 required/>
      </div>
      <div class="error" *ngIf="(newsTopic.dirty  || message) && newsTopic.invalid">
        <!-- Cheating, since there is only one way the product name field could be invalid -->
        News Topic is required
      </div> <br>
      <div>
        <input type="text"
               ngModel
               name="comment"
               placeholder="News Comment"
               #newsComment="ngModel"
               required>
      </div>
      <div class="error" *ngIf="(newsComment.dirty || message) && newsComment.invalid">
        <!-- Cheating, since there is only one way the product name field could be invalid -->
        News Comment is required
      </div>
    </div> <br>
    <button type="submit">Create</button>
  </form>
</div>