<h3> Hier können Sie alle aktuellen Informationen als User einfügen. </h3>
<app-create-team></app-create-team>
<hr>
<app-create-publication></app-create-publication>
<hr>
<app-create-project></app-create-project>
<hr>
<app-create-news></app-create-news>
<hr>
<app-create-event></app-create-event>
<br>
<br>














<!--
<div [class]="userService.isLogin ? 'positive  p-2 col-md' : 'negative'">
    <div class="row border border-info">
        <div id="naviAdmin" class="p-2 w-30">
            <ul class="adminNav nav nav-pills flex-column small">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['app-create-team']">Mitglied hinzufügen</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/add/buch/']">Buch hinzufügen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/add/lehrveranstaltung/']">Lehrveranstaltung hinzufügen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/add/projekt/']">Projekt hinzufügen</a>
                </li>
            </ul>
        </div>
    </div>
</div>
-->
