<h2>
  Publikationen hinzufügen
</h2>

<div>
  <h4 class="error">{{message}}</h4>
  <form (ngSubmit)="createPublication(publicationsForm)" #publicationsForm="ngForm">
    <div ngModelGroup="publications">
      <div>
          <input type="text"
                 ngModel
                 name="name"
                 #publicationsName="ngModel"
                 name="name"
                 placeholder="Name der Publikation"
                 required/>
      </div>
      <div class="error" *ngIf="(publicationsName.dirty  || message) && publicationsName.invalid">
        Name is required
      </div> <br>
      <div>
        <select type="text"
               ngModel
               name="typ"
               placeholder="Publications Typ"
               #publicationsTyp="ngModel"
               required>
               <option selected> wissenschaftliches Journal </option>
               <option> Konferenzbeitrag </option>
               <option> Buch </option>
               <option> Herausgeberbuch </option>
               <option> Magazin </option>
        </select>
      </div>
      <div class="error" *ngIf="(publicationsTyp.dirty || message) && publicationsTyp.invalid">
        Publication Typ is required
      </div> <br>
      <div>
          <input type="text"
                 ngModel
                 name="assignment"
                 #publicationsAssignment="ngModel"
                 assignment="assignment"
                 placeholder="Zugeordnetes Projekt"
                 required/>
      </div>
      <div class="error" *ngIf="(publicationsAssignment.dirty  || message) && publicationsAssignment.invalid">
        Assignment is required
      </div>
    </div> <br>
    <button type="submit">Hinzufügen</button>
  </form>
</div>