<h2>
  Event hinzufügen
</h2>

<div>
  <h4 class="error">{{message}}</h4>
  <form (ngSubmit)="createEvents(eventForm)" #eventForm="ngForm">
    <div ngModelGroup="event">
      <div>
          <input type="text"
                 ngModel
                 name="name"
                 #eventName="ngModel"
                 name="name"
                 placeholder="Name des Events"
                 required/>
      </div>
      <div class="error" *ngIf="(eventName.dirty  || message) && eventName.invalid">
      Name is required
      </div> <br>
      <div>
        <select name="eventKind" ngModel name="kind" #eventKind="ngModel"
                 kind="kind"
                 placeholder="Art"
                 required>
          <option selected value="wissenschaftlicheKonferenz" >wissenschaftliche Konferenz</option>
          <option value="industritage">Industrietage</option>
          <option value="lehrveranstaltung">Lehrveranstaltung</option>
        </select>
      </div>
      <div class="error" *ngIf="(eventKind.dirty  || message) && eventKind.invalid">
      Kind is required
      </div>
    </div> <br>
    <button type="submit">Create</button>
  </form>
</div>