<h2>
  Projekt hinzufügen
</h2>

<div>
  <h4 class="error">{{message}}</h4>
  <form (ngSubmit)="createProjects(projectsForm)" #projectsForm="ngForm">
    <div ngModelGroup="projects">
      <div>
        <input type="text"
               ngModel
               name="name"
               placeholder="Name des Projektes"
               #projectsName="ngModel"
               required>
      </div>
      <div class="error" *ngIf="(projectsName.dirty || message) && projectsName.invalid">
        Project Name is required
      </div>
      <br>
      <div>
        <input type="text"
               ngModel
               name="description"
               placeholder="Beschreibung"
               #projectsDescription="ngModel"
               required>
      </div>
      <div class="error" *ngIf="(projectsDescription.dirty || message) && projectsDescription.invalid">
        
        Description is required
      </div>
      <br>
      <div>
        <input type="text"
               ngModel
               name="members"
               placeholder="Mitglied/er"
               #projectsMembers="ngModel"
               required>
      </div>
      <div class="error" *ngIf="(projectsMembers.dirty || message) && projectsMembers.invalid">
       
        Members is required
      </div>
      <br>
      <div>
        <input type="text"
               ngModel
               name="sponsor"
               placeholder="Geldgeber"
               #projectsSponsor="ngModel"
               required>
      </div>
      <div class="error" *ngIf="(projectsSponsor.dirty || message) && projectsSponsor.invalid">
        Sponsor is required
      </div>
      
    </div> <br>
    <button type="submit">Hinzufügen</button>
  </form>
</div>