<div class="image"><img src="https://www.uni-flensburg.de/fileadmin/content/_processed_/3/9/csm_header-hs-flensburg_4e11639ec9.jpg"></div>
<div class="links">
   <span [class]="userService.isLogin ? 'Login nav-item' : 'logout' ">
    <a routerLink="login" routerLinkActive="active">
      Login
    </a>
  </span>
  <span [class]="userService.isLogin ? 'logout' : 'Login nav-item' "> 
    <a class="nav-link" routerLink="user"> Admin </a>
  </span>
  
  <span>
    <a routerLink="/group" routerLinkActive="active">
      Group
    </a>
  </span>
  <span>
    <a routerLink="/team" routerLinkActive="active">
      Team
    </a>
  </span>
   <span>
    <a routerLink="/publication" routerLinkActive="active">
      Publications
    </a>
  </span>
   <span>
    <a routerLink="/project" routerLinkActive="active">
      Projects
    </a>
  </span>
   <span>
    <a routerLink="/new" routerLinkActive="active">
      News
      </a>
  </span>
  <span>
    <a routerLink="/events" routerLinkActive="active">
      Events
      </a>
  </span>
</div>
<router-outlet> </router-outlet>

<div class="footer">
  <span>
    <a routerLink="/contact" routerLinkActive="active">
      Contact
      </a>
  </span>
  <br>
  <span>
    <a routerLink="/imprint" routerLinkActive="active">
      Imprint
      </a>
  </span> 
  <br>
  <span [class]="userService.isLogin ? 'logout' : 'Login nav-item' ">
                    <a class="nav-link" (click)="userService.logout()" routerLink="login">Logout</a>
  </span>
</div>

  
