p {
  font-family: Lato;
  
}
.links, .links a {
  padding:30px;
  font-size: 20px;
  text-align: center;
}

.links a.active {
  background-color:lightblue;
}
.image {
  width: 100%;
}

.footerright {
  padding:5px;
  background-color:rgb(146, 189, 245);
  text-align:right;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px
}
.footerleft {
  padding:5px;
  background-color:rgb(120, 152, 195);
  text-align:left;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px
}
.Login {
  display:none;
}
.Logout {
  display:block;
}

