p {
  font-family: Lato;
  
}
.links, .links a {
  padding:30px;
  font-size: 20px;
  text-align: center;
}

.links a.active {
  background-color:lightblue;
}
img {
  width: 100%;
}

.footer {
  padding:5px;
  background-color:rgb(146, 189, 245);
  text-align:right;
}

