<h2>
  Mitglied hinzufügen
</h2>

<div>
  <h4 class="error">{{message}}</h4>
  <form (ngSubmit)="createTeam(teamForm)" #teamForm="ngForm">
    <div ngModelGroup="team">
      <div>
          <input type="text"
                 ngModel
                 name="imageUrl"
                 #teamImageUrl="ngModel"
                 imageUrl="imageUrl"
                 placeholder="imageUrl des Mitglieds"
                 required/>
      </div>
      <div class="error" *ngIf="(teamImageUrl.dirty  || message) && teamImageUrl.invalid">
        ImageUrl is required
      </div> <br>
      <div>
          <input type="text"
                 ngModel
                 name="name"
                 #teamName="ngModel"
                 name="name"
                 placeholder="Name des Mitglieds"
                 required/>
      </div>
      <div class="error" *ngIf="(teamName.dirty  || message) && teamName.invalid">
        Name is required
      </div>
      <br>
      <div>
          <select type="text"
                 ngModel
                 name="position"
                 #teamPosition="ngModel"
                 position="position"
                 placeholder="Position"
                 required>
                 <option selected> Prof. </option>
                <option> Student/in </option>
                <option> WiMi </option>
                <option> Sekretärin </option>
                <option> Dr. </option>
          </select>
      
      </div>
      <div class="error" *ngIf="(teamPosition.dirty  || message) && teamPosition.invalid">
        Position is required
      </div>
      <br>
      <div>
          <input type="text"
                 ngModel
                 name="room"
                 #teamRoom="ngModel"
                 room="room"
                 placeholder="Büro"
                 required/>
      </div>
      <div class="error" *ngIf="(teamRoom.dirty  || message) && teamRoom.invalid">
        Room is required
      </div><br>
      <div>
          <input type="text"
                 ngModel
                 name="phone"
                 #teamPhone="ngModel"
                 phone="phone"
                 placeholder="Telefon"
                 required/>
      </div>
      <div class="error" *ngIf="(teamPhone.dirty  || message) && teamPhone.invalid">
        Phone is required
      </div>
      <br>
      <div>
          <input type="text"
                 ngModel
                 name="email"
                 #teamEmail="ngModel"
                 email="email"
                 placeholder="E-mail"
                 required/>
      </div>
      <div class="error" *ngIf="(teamEmail.dirty  || message) && teamEmail.invalid">
        Email is required
      </div>
      
    </div> <br> 
    <button type="submit">Hinzufügen</button>
  </form>
</div>