<h1>Imprint</h1>
<h3>Anschrift:</h3>
Christian-Albrechts-Universität zu Kiel
Christian-Albrechts-Platz 4
24118 Kiel, Germany
Telefon: +49 (0431) 880-00
E-Mail: mail@uni-kiel.de

<h3>Gesetzliche Vertretung:</h3>
Die Christian-Albrechts-Universität zu Kiel ist eine Körperschaft des Öffentlichen Rechts.
Sie wird gesetzlich vertreten durch das Präsidium:
<ul>
<li>den Präsidenten Prof. Dr. Lutz Kipp</li>
<li>die Vizepräsidentin Prof. Dr. Ilka Parchmann</li>
<li>die Vizepräsidentin Prof. Dr. Anja Pistor-Hatam</li>
<li> Vizepräsidentin Prof. Dr. Karin Schwarz</li>
<li>die Kanzlerin Claudia Ricarda Meyer</li>
</ul>
<h3>Zuständige Aufsichtsbehörde:</h3>
Ministerium für Bildung, Wissenschaft und Kultur
Brunswiker Straße 16-22
24105 Kiel

<h3>Umsatzsteueridentifikationsnummer:</h3>
DE 811317279

<h3>Verantwortlich im Sinne des Pressegesetzes:</h3>
Das Präsidium

<h3>Technische Betreuung:</h3>
Rechenzentrum (RZ) der CAU
E-Mail: websupport@rz.uni-kiel.de