<h1>Impressum der Hochschule Flensburg</h1>

<h3>Anschrift:</h3>

<p>Hochschule Flensburg</p>
<p>Flensburg University of Applied Sciences</p>
<p>Kanzleistraße 91-93</p>
<p>24943 Flensburg, Germany<p> <br>

<p>Telefon: +49 (0)461 805-01</p>
<p>Telefax: +49 (0)461 805-1300</p>

<h3>Gesetzliche Vertretung:</h3>

<p>Die Hochschule Flensburg ist eine Körperschaft des Öffentlichen Rechts. Sie wird gesetzlich vertreten durch das Präsidium:</p>
<ul>
<li>den Präsidenten Dr. Christoph Jansen</li>
<li>den Vizepräsidenten Prof. Dr. Thomas Schmidt</li>
<li>die Vizepräsidentin Prof. Dr. Claudia Jasmand</li>
<li>die Vizepräsidentin Prof. Dr. Anja Vest</li>
<li>die Kanzlerin Sabine Christiansen</li>
</ul>

<h3> Zuständige Aufsichtsbehörde: </h3>

<p>Ministerium für Bildung, Wissenschaft und Kultur des Landes Schleswig-Holstein </p>

<p>Wissenschaftsabteilung </p>

<p> Str. 16 – 22</p>
<p>24105 Kiel</p>


<h3>Haftungshinweis:</h3>
<h4>1. Inhalt des Onlineangebotes </h4>

<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für Aktualität, Korrektheit oder Vollständigkeit der bereitgestellten Informationen.

Alle Angebote sind freibleibend und unverbindlich. Wir behalten uns vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern oder zu ergänzen.</p>

<h4>2. Verweise und Links</h4>

<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

<h4>3. Urheber- und Kennzeichenrecht</h4>

<p>Das Copyright für veröffentlichte, von uns selbst erstellten Grafiken, Tondokumente, Videosequenzen und Texte bleibt allein bei uns, bzw. den jeweiligen Autoren der Seiten.

Eine Vervielfältigung oder Verwendung solcher Objekte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung der Autoren nicht gestattet.

Hiervon ausgenommen sind die offiziellen Pressemitteilungen der Pressestelle und die dort für die Medien eingestellten Abbildungen: Diese Mitteilungen sollen zahlreich verwendet und vervielfältigt werden.</p>

<h4>4. Datenschutz</h4>

<p>Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (Emailadressen, Namen, Anschriften) besteht, erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis.</p> <br><br>

<!--
  Quelle:

  https://www.institut-ehealth.de/impressum/

--